* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f8f8f8;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.logotipo {
  height: 350px;
}

.conteudo {
  margin-top: 20px;
  display: grid;
  justify-content: center;
}

.description {
  text-align: center;
  color: #566260;
  font-size: 14px;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.btnResponsavel,
.btnProfissional {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.btnResponsavel {
  background-color: #07689f;
  color: white;
}

.btnProfissional {
  border: 1px solid #07689f;
  background-color: transparent;
  color: #07689f;
}
